@charset "UTF-8";

.container {
            display: flex;
            width: 100%;
        }

.sidebar {
    width: 40%;
    background-color: #fff;
    border-right: 1px solid #ddd;
    overflow-y: auto;
    height: 60vh;
/*     min-height: 40vh; */
/*     max-height: 60vh; */
}

.sidebar-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

.sidebar-item img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.sidebar-item:hover {
    background-color: #f9f9f9;
}

.sidebar-item .item-container {
	display: flex;
	flex-direction: column;
}

.sidebar-item .item-container .item-chat {
	margin-top: 5px;
	font-size: 15px;
	color : #ccc;
}

.sidebar-item .item-container .item-chat span {
	font-size: 12px;
}

.chat-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-height: 60vh;
}

.chat-header {
    padding: 10px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chat-header img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.chat-header .title {
    font-size: 18px;
    font-weight: bold;
}

.chat-header .item-button {
	border:0;
	background:var(--primary);
	height: 34px;
	color: var(--white);
	font-weight: 700;
	padding: 0 1rem;
	border-radius: 4px;
	font-size: 0.875rem;
}

.chat-body {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    background-color: #f8f8f8;
    min-height: 40vh;
}

.message {
    margin: 10px 0;
}

.message.user {
    text-align: right;
}

.message .bubble {
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    max-width: 70%;
}

.message.user .bubble {
    background-color: #d1e7ff;
}

.message.other .bubble {
    background-color: #eaeaea;
}

.chat-footer {
/* 	display: none; */
    padding: 10px;
    background-color: #fff;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
}

.chat-footer input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.chat-footer button {
    margin-left: 10px;
    padding: 10px 15px;
    background-color: var(--primary);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.chat-footer button:hover {
    background-color: #0056b3;
}

