@charset "UTF-8";

.page-ttl {max-width: 1320px;margin: 2rem auto 1rem;color: var(--dark);padding: 0 1rem;font-size: 1.4rem;text-indent: 0.875rem;}

/* myPage layout */
.my-wrap {max-width: 1320px;margin: 0 auto 2rem;display: flex;padding: 0 1rem;align-items: flex-start;}
.my-menu {width: 190px;flex: 0 0 190px;padding: 10px 16px;}
.my-menu a {display: block;color: #888;font-weight: 500;font-size: 15px;transition: all 0.3s;margin: 16px 0;}
.my-menu a:hover,
.my-menu a.active {color: var(--primary);}
.my-container{margin-left: 1rem;padding: 2rem;background: var(--milk);flex: 1 1 auto;min-height: 400px;border-radius: 8px;}
.my-container .contents-ttl {font-size:1.2rem;font-weight:700;margin-bottom:1rem;color:var(--dark);}
.my-container .contents-ttl small {font-size:0.875rem;margin-left: 6px;font-weight:500;color:var(--gray);}
.my-menu h3:not(:first-of-type) {border-top:1px solid #ddd;padding-top: 16px;}
.my-menu h3 {color: var(--dark);font-size: 18px;font-weight: 700;}

/* ********************************************************************** */
/* 계정정보 */
.my-frm .row {
    padding: 1rem;
    border-bottom: 1px solid var(--light-gray);
}

/* 라벨 스타일을 더 선명하게 */
.my-frm .row label {
    font-size: 1rem;
    font-weight: bold;
    color: var(--dark-blue);
    margin-bottom: 0.5rem;
    display: block;
}

/* 프로필 사진 업로드 버튼 스타일 */
.box input[type="file"] {
    background-color: var(--primary);
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 0.875rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.box input[type="file"]:hover {
    background-color: var(--dark-primary);
}

/* 파일 선택 버튼 스타일 */
.my-frm .row input[type="file"] {
    display: none; /* 기본 파일 선택 버튼 숨김 */
}

.my-frm .row .custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--green); /* 파란색 배경 */
    border-radius: 5px;
    color: white; /* 텍스트 색상 */
    font-size: 14px;
    font-weight: bold;
    cursor: pointer; /* 손 모양 커서 */
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.my-frm .row .custom-file-upload:hover {
    background-color: #217dbb; /* 호버 시 더 어두운 파란색 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* 그림자 추가 */
}

.my-frm .row .custom-file-upload:active {
    background-color: #1b6ba3; /* 클릭 시 더 어두운 파란색 */
    transform: translateY(1px); /* 클릭 시 약간 내려감 */
}


/* 버튼 hover 효과 추가 */
.my-frm button {
    background-color: var(--primary);
    color: white;
    padding: 1rem;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.my-frm button:hover {
    background-color: var(--dark-primary);
    transform: translateY(-2px); /* 살짝 떠오르는 효과 */
}

.my-frm button:active {
    background-color: var(--primary);
    transform: translateY(0); /* 클릭 시 원래 위치로 */
}

/* 입력 필드 placeholder 스타일 */
.my-frm input::placeholder {
    color: var(--gray);
    font-style: italic;
}

/* 프로필 사진 미리보기 스타일 개선 */
.box img {
    width: 120px;
    height: 120px;
    border: 3px solid var(--primary);
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

/* 주소 입력 필드 간격 조정 */
.my-frm .row input[type="text"] {
    margin-bottom: 0.5rem; /* 필드 간 여백 추가 */
}

/* 회원탈퇴 링크 */
.withdraw-link {
    color: var(--danger);
    text-align: right;
    font-size: 0.875rem;
    margin-top: 2rem;
    display: block;
    transition: color 0.3s ease;
}

.withdraw-link:hover {
    color: var(--dark-danger);
}

/* 우편번호 찾기 버튼 스타일 */
.my-frm .row input[type="button"] {
    padding: 10px 20px;
    background-color: #0dcc5a; /* 초록색 배경 */
    border-radius: 5px;
    color: white; /* 텍스트 색상 */
    font-size: 14px;
    font-weight: bold;
    border: none; /* 테두리 제거 */
    cursor: pointer; /* 마우스 커서를 손 모양으로 변경 */
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.my-frm .row input[type="button"]:hover {
    background-color: #05b94d; /* 호버 시 더 어두운 초록색 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* 그림자 추가 */
}

.my-frm .row input[type="button"]:active {
    background-color: #04a243; /* 클릭 시 더 어두운 초록색 */
    transform: translateY(1px); /* 클릭 시 약간 내려감 */
}


/* ********************************************************************** */
/* 수정하면 안되는 부분 */
.my-frm .row #mem_id, .my-frm .row #mem_email, .my-frm .row #mem_phone {
	background: var(--light-gray);
}
.my-frm .row label {font-weight: 700;font-size: 0.875rem; color: #434f61;margin-bottom: 0.6rem;display: block;}
.my-frm .row label span {color:var(--danger);}
.my-frm .row input[type="text"],
.my-frm .row input[type="password"] {padding: 0px 10px;background:var(--white);border:1px solid #ddd;border-radius:4px;height: 36px;}
.my-frm .row .profile-thumb {width: 80px;height: 80px;border-radius: 6px;border: 1px solid var(--light-gray);}
/* .my-frm .row .btn-frm {background: var(--white);color: var(--gray);padding: 0 2rem;border-radius:4px;font-size: 0.875rem;border: 1px solid #ddd;font-weight: 600;height: 36px;cursor: pointer;} */
.my-frm .row > div {display:flex;flex-wrap:wrap;gap: 0.5rem;margin: 0.2rem 0;align-items: center;}
.my-frm .row > div > input[type="text"], .my-frm .row > div > input[type="password"] {flex:1 1 auto;}
.my-frm .row .ip-tips {text-align:left;display:block;font-size: 11px;padding:0.4rem;color:var(--danger);font-weight: 600;}
.my-frm .btns {text-align:center;padding:1rem 0;}
.my-frm .row .sel-frm {background: var(--white);border:0;color: var(--gray);padding: 0 1rem;border-radius:4px;font-size: 0.875rem;border: 1px solid #ddd;font-weight: 600;height: 36px;}
.my-frm .btns .btn-submit  {background: var(--primary);border:0;color: var(--white);padding: 0 2rem;border-radius:4px;font-size: 1rem;border: 1px solid var(--milk);font-weight: 700;height: 40px;min-width: 150px;}
.my-frm .result {font-size:14px; margin-bottom:1rem;}


/* .my-frm input[type="button"], .my-frm input[type="submit"] { */
/* 	padding: 1rem; */
/* 	background-color: #0dcc5a; */
/* 	border-radius: 10px; */
/* 	color: white; */
/* 	margin-bottom: 20px; 버튼 아래쪽 여백 추가 */
/* 	font-weight: 700; */
/* 	font-size: 1rem; */
/* 	width: 100%; */
/* 	margin-top: 20px; */
/* } */

/* 수정 완료 버튼*/
.my-frm button {
	padding: 1rem;
	background-color: #0dcc5a;
	border-radius: 10px;
	color: white;
	margin-bottom: 20px; /* 버튼 아래쪽 여백 추가 */
	font-weight: 700;
	font-size: 1rem;
	width: 100%;
	margin-top: 20px;
}
.my-frm button:hover {
	background-color: #05b94d;
}

/* 회원탈퇴 */
.withdraw-link {font-size: 0.875rem; color: var(--gray); text-align:right; display: block; margin-top: 2rem; margin-left: auto; width: 100px;}

/* 입력 필드 스타일 */
.passwdFinderForm input[type="password"] {
    width: 100%;
    padding: 10px 15px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    background-color: #f9f9f9;
    transition: border-color 0.2s ease-in-out;
}

.passwdFinderForm input[type="password"]:focus {
    border-color: #007bff; /* 포커스 시 파란색 테두리 */
    outline: none;
    background-color: #fff;
}

/* form-controls 스타일 */
#form-controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 버튼 스타일 */
.passwdFinderForm button {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    background-color: #ff4d4f; /* 빨간색 배경 */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.passwdFinderForm button:hover {
    background-color: #d43f40; /* hover 시 어두운 빨간색 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(-1px);
}

.passwdFinderForm button:active {
    background-color: #c23334; /* 클릭 시 더 어두운 빨간색 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: translateY(0);
}




/* ********************************************************************** */
/*나의 상점*/
.my-frm .set .product-set {margin: 0.4rem 0;padding: 1rem;}
.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
    padding: 0;
}

.product-card {
    flex: 0 1 calc(33.333% - 20px);  /* 3열 구성, 여백 고려 */
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    text-align: left;
    padding: 10px;
}

/* **********************************판매내역************************************ */

 /*리뷰*/
 .review-box {margin: auto;padding: 14px 20px;border-top: 1px solid #ccc;}
 .review-box:last-child {border-bottom:1px solid #ccc;}
 .review-box .my-btn {padding: 7px 14px;border-radius:5px;font-size:14px;font-weight:600;color: var(--white);background: #5c6466;} 
	.review-box .my-btn.del {}
.review-box .user-info {display:flex;flex-wrap:wrap;align-items: center;gap:0 1rem;}
 .review-box .user-info .user-thumb {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 100%;
    border: 1px solid #ddd;
}
.review-box .user-info .seller {color:var(--dark);flex:0 0 100%;font-size: 15px;padding: 10px;border: 1px solid #ddd;border-radius: 6px;margin-bottom: 10px;}
.review-box .user-info .seller b {font-size:16px;margin-left:5px;}
 .review-box .user-info .seller span {color:var(--primary);font-weight:700;padding-right:5px;} 
.review-box .user-info .user-thumb img {display:block;width:100%;height:100%;object-fit:cover;}
 .review-box .user-info .name {
    font-weight: 700;
    color: var(--dark);
} 
 .review-box .user-info .name .date {
    font-size: 12px;
    font-weight: 500;
    margin-left: 4px;
}
 .review-box .product {
    padding: 6px 10px;
    font-size: 14px;
    border-radius: 4px;
    color: var(--dark);
    border: 1px solid #ddd;
    /* display: flex; */
    /* flex-wrap: nowrap; */
    /* overflow: hidden; */
    /* margin-top: 10px; */
}
.review-box .product b {font-weight:600;display:block;margin-bottom: 5px;font-size: 14px;}
.review-box .product span{
    display: block;
    word-break: break-all;
    font-weight: 500;
    color: var(--dark);
    font-size: 14px;
}
.review-box .review-score, .review-box .review-score-option {}
.review-box .review-score span, .review-box .review-score-option span {
    padding: 6px 12px;
    display: inline-block;
    margin: 10px 0;
    background: #eee;
    font-weight: 600;
    font-size: 14px;
    border-radius: 4px;
    color: #4e4c4c;
}
.review-box .review-text {
    padding: 7px 0;
    /* min-height: 60px; */
    font-size: 15px;
}
.review-box .btns {display:flex;align-items:center;justify-content:flex-end;gap:4px;}

 /**********리뷰***********/
 .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);  /* 반투명 배경 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 20px;
    width: 400px;
    border-radius: 10px;
    text-align: center;
}

.modal-content h2 {font-size: 18px;text-align: left;margin-bottom: 10px;}

textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}


/* 1:1 문의내역 */
.inq-wrap {}
.inq-wrap .inq-tops {text-align: right;}
.inq-wrap .inq-tops .btn-inq {padding: 10px 1rem;background: var(--primary);font-size: 0.875rem;font-weight: 600;color: var(--white);border: 0;border-radius: 6px;margin-bottom: 10px;}
.tb-wrap .no-data {padding: 5rem 0;text-align:center;font-size: 0.875rem;font-weight: 500;border-bottom: 1px solid #E8E9EE;background: var(--white);margin-bottom: 1rem;}
.tb-01 {width: 100%;border-spacing: 0;border-collapse: collapse;position:relative;}
.tb-01 thead {border: 1px solid #ddd;border-left: 0;border-right: 0;}
.tb-01 th {background: var(--light-blue);padding: 12px  10px;color:var(--dark);font-weight: 700;font-size: 1rem;text-align: center;}
.tb-01 td {text-align: center;color:var(--dark);font-weight: 400;padding: 10px;border-bottom: 1px solid #E8E9EE;font-size: 0.875rem;background: var(--white);}
.tb-01 td.subject {text-align:left;font-weight:500;}
.tb-01 a {display:block; transition:all 0.2s;}
.tb-01 tbody tr {cursor:pointer;}
.tb-01 tbody tr:hover td {background: #f9f9f9; color:var(--primary)}
.tb-01 tfoot tr td {background: #F9F7F4;font-weight: var(--weight-bold);}
.tb-01 tr.reply th, .tb-01 tr.reply td {background: #e3ebf9;}
.inq-reply {background: var(--secondary);padding: 4px 6px;border-radius: 5px;color: var(--white);font-weight: 600;font-size: 12px;margin-left: 7px;}
.inq-wrap .tb-inq tbody td:nth-child(2) {font-weight:700;}

.inq-frm {color: var(--dark);font-weight: 500;}
.inq-frm .row {margin-bottom: 6px;}
.inq-frm .row select {text-align: left;font-weight: 500;padding: 6px 10px;font-size: 15px;border: 1px solid #ddd;border-radius: 4px;}
.inq-frm .row input[type="text"] {width: 100%;padding: 8px 10px;font-size: 15px;border: 1px solid #ddd;border-radius: 4px;}
.inq-frm .row textarea {width: 100%;padding: 8px 10px;font-size: 15px;border: 1px solid #ddd;border-radius: 4px;}
.inq-frm .row input[type="file"] {padding: 8px 10px;font-size: 15px;border: 1px solid #ddd;border-radius: 4px;background: var(--white);width: 100%;}
.inq-wrap .com {display: flex;align-items: stretch;margin-bottom: 0.4rem;}
.inq-wrap .com label {flex:0 0 90px;font-weight:700;color:var(--dark);background: #d3dded;display:inline-flex;align-items:center;justify-content:center;padding: 0.9rem;text-align: center; font-size: 0.875rem;}
.inq-wrap .com span {display: block;flex: 1 1 auto;background: var(--white);padding:0.9rem; font-weight:500;color:var(--dark);font-size:15px;}
.inq-wrap .com span.contents {min-height:150px;padding: 1rem;line-height:1.5;}
.inq-wrap .com a:hover {text-decoration:underline;}
.inq-wrap .com a input[type="button"] {cursor:pointer;background: var(--primary);color: var(--white);border: 0;padding: 6px 10px;border-radius: 4px;font-size: 14px;font-weight: 700;margin-left: 10px;}
.inq-wrap .com.attach {justify-content: center;margin-top: 14px;margin-bottom: 0;}
.inq-wrap .com.reply label {background: var(--secondary);font-weight: 700;color: var(--white);}
.inq-wrap .reply-hr {width:100%;height:2px;background:var(--secondary);}

.inq-wrap .btns {display:flex;align-items: center;gap: 4px;justify-content: center;margin-top: 20px;}
.inq-wrap .btns button {padding: 10px 1rem;background: var(--dark);font-size: 0.875rem;font-weight: 600;color: var(--white);border: 0;border-radius: 6px;margin-bottom: 10px;}
.inq-frm .row.attach {background:var(--white);padding: 1rem;border: 1px solid #ddd;border-radius: 4px;display: flex;align-items: center;gap: 0.8rem;}
.inq-frm .row.attach > i {font-size:1.2rem;color:var(--secondary);margin-right: 6px;}
.inq-frm .row.attach a.dw {font-size:1.2rem;color:var(--primary);}
.inq-frm .row.attach a.del {font-size:1.2rem;color:var(--danger);}
/* 페이징 */
#pageList {display: flex;justify-content: center;align-items: center;gap: 6px;margin: 1rem auto;}
#pageList button {font-size: 13px;font-weight: 700;background: var(--white);border: 1px solid var(--dark);border-radius: 4px;cursor:pointer;width: 30px;height: 30px;}
#pageList button:disabled {background:#eee;border-color:#ddd;color:#c999;}
#pageList button:hover {background:var(--primary);color:var(--white);border-color:var(--primary);}
#pageList strong {width: 20px;display: inline-block;text-align: center;text-decoration: underline;cursor:pointer;}
#pageList a {display: inline-block;width: 20px;text-align: center;}
#pageList a:hover {color:var(--primary);font-weight:600;}


/* 나의 상점 */
.mypage-wrap {padding: 1rem;}
.mypage-wrap .st-box .st-top {display:flex; align-items:center;gap:2rem;}
.mypage-wrap .st-box .st-top .st-profile {width:100px;height:100px;border-radius:100%;overflow:hidden;border: 1px solid #ddd;}
.mypage-wrap .st-box .st-top .st-profile img {display:block;object-fit: cover;width: 100%;height: 100%;}

.mypage-wrap .st-box .st-top .st-info {}
.mypage-wrap .st-box .st-top .st-info .st-ttl {font-size:20px;font-weight:700;color:var(--dark);margin-bottom: 12px;}
.mypage-wrap .st-box .st-top .st-info .st-review .score {padding: 8px 16px;background: #c8ead9;border-radius: 2px 10px 10px 10px;/* border: 1px solid #c6ceca; */color: var(--darl);font-weight: 500;font-size: 14px;}
.mypage-wrap .st-box > .st-ttl {font-size: 16px;font-weight:700;display:flex;align-items: flex-end;margin: 22px 0 8px;color: var(--dark);}
.mypage-wrap .st-box > .st-ttl small {font-size: 13px;color:#555;font-weight:500;margin-left:4px;}
.mypage-wrap .st-box > .st-ttl a {display:block;margin-left:auto;color:var(--primary);font-size:14px;}
.mypage-wrap .st-box .store-intro {margin-bottom:20px;}
.mypage-wrap .st-box .store-intro textarea {border:1px solid #ccc;border-radius:6px;background:var(--ivory);padding:10px;font-size:14px;color:var(--dark);margin-bottom: 0;}
.mypage-wrap .st-box .store-intro button {padding: 8px 20px;border-radius: 6px;background: var(--primary);color: var(--white);margin-left: auto;display: block;font-size: 14px;font-weight: 700;}



.my-tabs {display:flex;align-items:center;gap:10px;margin:20px 0;}
.my-tabs .filter-btn {padding: 8px 20px;font-size: 15px;font-weight:500;background:var(--ivory);color:var(--dark);border-radius: 50px;}
.my-tabs .filter-btn.active {background:var(--primary);color:var(--white);font-weight:600;}
.review-done-btn {
    background: var(--ivory);
    color: var(--primary);
    padding: 0 1rem;
    border-radius: 4px;
    font-size: 15px;
    border: 1px solid #ddd;
    font-weight: 600;
    line-height: 34px;
    margin: 4px auto;
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 10px;
    
}
.review-write-btn {
	 background: var(--ivory);
    color: var(--primary);
    padding: 0 1rem;
    border-radius: 4px;
    font-size: 15px;
    border: 1px solid #ddd;
    font-weight: 600;
    line-height: 34px;
    margin: 4px auto;
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 10px;
	
}