<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.goodbuy.mapper.AdminMapper">
	<!-- [ 공통코드 ] -->
	<!-- 공통코드 등록 - INSERT -->
	<insert id="insertCommonCode">
		INSERT 
		  INTO COMMONCODETYPE
		VALUES (
			#{CODETYPE_ID}
		    , #{CODETYPE_NAME}
		    , #{DESCRIPTION}
		    , 1						-- 1: 사용, 2: 미사용
		)
	</insert>
	
	<!-- 공통코드 등록(상세코드) - INSERT -->
	<insert id="insertCommonCodeType">
		INSERT 
		  INTO COMMONCODE
		VALUES 
		<foreach item="code" collection="subCodes" separator=",">
            (
	            #{code.CODETYPE_ID}
	            , #{code.CODE_ID}
	            , #{code.CODE_NAME}
	            , #{code.CODE_DESCRIPTION}
	            , #{code.CODE_STATUS}
	            , #{code.CODE_SEQ}
            )
        </foreach>
     </insert>
     
     <!-- 공통코드 목록 조회 - SELECT -->
     <select id="selectCommonCodes">
     	SELECT 
				M.CODETYPE_ID
			   , M.CODETYPE_NAME
		       , M.DESCRIPTION AS MAIN_DESC
			   , S.CODE_ID
		       , S.CODE_NAME
		       , S.DESCRIPTION AS SUB_DESC
		       , S.CODE_STATUS
		       , S.CODE_SEQ
		  FROM COMMONCODETYPE M 
		  JOIN COMMONCODE S
		    ON M.CODETYPE_ID = S.CODETYPE_ID
		 WHERE 1 = 1
		 <if test="searchValue != null">
		 	  AND M.CODETYPE_NAME LIKE CONCAT('%', #{searchValue}, '%')
		 	   OR M.CODETYPE_ID LIKE CONCAT('%', #{searchValue}, '%')
		 	   OR M.DESCRIPTION LIKE CONCAT('%', #{searchValue}, '%')
		 	   OR S.CODE_ID LIKE CONCAT('%', #{searchValue}, '%')
		 	   OR S.CODE_NAME LIKE CONCAT('%', #{searchValue}, '%')
		 	   OR S.DESCRIPTION LIKE CONCAT('%', #{searchValue}, '%')
		 </if>
		 ORDER BY
	 	<choose>
			<when test='orderColumn.equals("CODETYPE_ID")'>M.CODETYPE_ID</when>
			<when test='orderColumn.equals("CODE_ID")'>S.CODE_ID</when>
			<otherwise>CODETYPE_ID</otherwise>
		</choose>
		<if test='orderDir.equals("asc")'>ASC</if>
		<if test='orderDir.equals("desc")'>DESC</if>
		 LIMIT
		 	   #{start}
		 	   , #{length}
     </select>
     
     <!-- 공통코드 컬럼 수 조회 - SELECT -->
     <select id="selectCommonCodesTotal" resultType="int">
     	SELECT COUNT(*)
		  FROM COMMONCODETYPE M 
		  JOIN COMMONCODE S
		  ON M.CODETYPE_ID = S.CODETYPE_ID
     </select>
     
     <!-- 공통코드 검색 컬럼 수 조회 - SELECT -->
     <select id="selectCommonCodesFiltered" resultType="int">
     	SELECT COUNT(*)
		  FROM COMMONCODETYPE M 
		  JOIN COMMONCODE S
		    ON M.CODETYPE_ID = S.CODETYPE_ID
		 WHERE 1 = 1
		 <if test="searchValue != null">
		 	  AND M.CODETYPE_NAME LIKE CONCAT('%', #{searchValue}, '%')
		 	   OR M.CODETYPE_ID LIKE CONCAT('%', #{searchValue}, '%')
		 	   OR M.DESCRIPTION LIKE CONCAT('%', #{searchValue}, '%')
		 	   OR S.CODE_ID LIKE CONCAT('%', #{searchValue}, '%')
		 	   OR S.CODE_NAME LIKE CONCAT('%', #{searchValue}, '%')
		 	   OR S.DESCRIPTION LIKE CONCAT('%', #{searchValue}, '%')
		 </if>
     </select>
     
     <!-- 공통코드 수정 - UPDATE -->
     <update id="updateCommonCodes">
     	UPDATE COMMONCODETYPE M, COMMONCODE S
		   SET 
		    	M.CODETYPE_NAME = #{CODETYPE_NAME}
			    , M.DESCRIPTION = #{CODETYPE_DESC}
			    , S.CODE_ID = #{CODE_ID}
			    , S.CODE_NAME = #{CODE_NAME}
			    , S.DESCRIPTION = #{CODE_DESC}
			    , S.CODE_STATUS = #{CODE_STATUS}
			    , S.CODE_SEQ = #{CODE_SEQ}
		 WHERE
				M.CODETYPE_ID = #{OLD_CODETYPE_ID}
			    AND S.CODETYPE_ID = #{OLD_CODETYPE_ID}
			    AND S.CODE_ID = #{OLD_CODE_ID}
     </update>
     
     <!-- 공통코드 삭제 - DELETE -->
     <delete id="deleteCommonCodes">
     	DELETE FROM COMMONCODE
     	 WHERE CODETYPE_ID = #{CODETYPE_ID}
     	   AND CODE_ID = #{CODE_ID}
     </delete>
     
     <!-- 사용되지 않는 공통코드(상위코드) 삭제 - DELETE -->
     <delete id="deleteDeprecatedCommonCode">
     	DELETE FROM COMMONCODETYPE
     	 WHERE NOT EXISTS (
            SELECT 1
            FROM COMMONCODE
            WHERE COMMONCODETYPE.CODETYPE_ID = COMMONCODE.CODETYPE_ID
        )
     </delete>
     
     <!-- [ 회원관리 ] -->
     <!-- 전체 회원 목록 조회 - SELECT -->
     <select id="selectMemberList" resultType="member">
     	SELECT MEM_ID
			   , MEM_NAME
		       , MEM_NICK
		       , MEM_BIRTHDAY
		       , MEM_EMAIL
		       , (CASE WHEN MEM_GENDER = "M" THEN "남"
					   WHEN MEM_GENDER = "F" THEN "여" END) AS MEM_GENDER
		       , (CASE WHEN MEM_PHONE IS NULL OR MEM_PHONE = '' THEN ''
					   ELSE CONCAT(SUBSTR(MEM_PHONE, 1, 3), '-', SUBSTR(MEM_PHONE, 4, 4), '-', SUBSTR(MEM_PHONE, 8, 4))
		                END) AS MEM_PHONE
		       , MEM_POST_CODE
		       , MEM_ADDRESS1
		       , MEM_ADDRESS2
		       , MEM_GRADE
		       , MEM_STATUS
		       , MEM_REG_DATE
		       , MEM_WITHDRAW_DATE
		       , MEM_PROFILE
		       , MEM_INTRO
		       , SNS_STATUS
		       , AUTH_STATUS
		  FROM MEMBER
		 WHERE 1 = 1
			<if test="memStatus != null and memStatus != 0">
		 	   AND MEM_STATUS = #{memStatus}
		 	</if>
		 	<if test='memGrade != null and !memGrade.equals("전체")'>
		 	   AND MEM_GRADE = #{memGrade}
		 	</if>
		 	<if test="searchValue != null and !searchValue.equals('')">
		 	   AND (MEM_ID LIKE CONCAT('%', #{searchValue}, '%')
		 	    	OR MEM_NAME LIKE CONCAT('%', #{searchValue}, '%')
		 	    	OR MEM_NICK LIKE CONCAT('%', #{searchValue}, '%')
		 	    	OR MEM_EMAIL LIKE CONCAT('%', #{searchValue}, '%')) 
		 	</if>
		 ORDER BY 
			<choose>
				<when test='orderColumn.equals("mem_id")'>MEM_ID</when>
				<when test='orderColumn.equals("mem_name")'>MEM_NAME</when>
				<when test='orderColumn.equals("mem_nick")'>MEM_NICK</when>
				<when test='orderColumn.equals("mem_email")'>MEM_EMAIL</when>
				<when test='orderColumn.equals("mem_reg_date")'>MEM_REG_DATE</when>
				<otherwise>MEM_REG_DATE</otherwise>
			</choose>
			<if test='orderDir.equals("asc")'>ASC</if>
			<if test='orderDir.equals("desc")'>DESC</if>
		  LIMIT
		 	   #{start}
		 	   , #{length}
     </select>
     
     <!-- 회원목록 전체 컬럼 수 조회 - SELECT -->
     <select id="selectMemberListTotal" resultType="int">
     	SELECT COUNT(*)
     	  FROM MEMBER
     </select>
     
     <!-- 회원목록 필터링 후 컬럼 수 조회 - SELECT -->
     <select id="selectMemberListFiltered" resultType="int">
     	SELECT COUNT(*)
     	  FROM MEMBER
     	 WHERE 1 = 1
			<if test="memStatus != null and memStatus != 0">
		 	   AND MEM_STATUS = #{memStatus}
		 	</if>
		 	<if test='memGrade != null and !memGrade.equals("전체")'>
		 	   AND MEM_GRADE = #{memGrade}
		 	</if>
		 	<if test="searchValue != null and !searchValue.equals('')">
		 	   AND (MEM_ID LIKE CONCAT('%', #{searchValue}, '%')
		 	    	OR MEM_NAME LIKE CONCAT('%', #{searchValue}, '%')
		 	    	OR MEM_NICK LIKE CONCAT('%', #{searchValue}, '%')
		 	    	OR MEM_EMAIL LIKE CONCAT('%', #{searchValue}, '%')) 
		 	</if>
     </select>
     
     <!-- 회원 상세 정보 조회 - SELECT -->
     <select id="selectMember" resultType="member">
     	SELECT MEM_ID
			   , MEM_NAME
		       , MEM_NICK
		       , MEM_BIRTHDAY
		       , MEM_EMAIL
		       , (CASE WHEN MEM_GENDER = "M" THEN "남"
					   WHEN MEM_GENDER = "F" THEN "여" END) AS MEM_GENDER
		       , (CASE WHEN MEM_PHONE IS NULL OR MEM_PHONE = '' THEN ''
					   ELSE CONCAT(SUBSTR(MEM_PHONE, 1, 3), '-', SUBSTR(MEM_PHONE, 4, 4), '-', SUBSTR(MEM_PHONE, 8, 4))
		                END) AS MEM_PHONE
		       , MEM_POST_CODE
		       , MEM_ADDRESS1
		       , MEM_ADDRESS2
		       , MEM_GRADE
		       , MEM_STATUS
		       , MEM_REG_DATE
		       , MEM_WITHDRAW_DATE
		       , MEM_PROFILE
		       , MEM_INTRO
		       , SNS_STATUS
		       , AUTH_STATUS
		FROM MEMBER
		WHERE MEM_ID = #{mem_id}
     </select>
     
     <!-- 회원 상태 수정 - UPDATE -->
     <update id="updateMemberInfo">
     	UPDATE MEMBER
     	   SET MEM_GRADE = #{mem_grade}
     	   	   , MEM_STATUS = #{mem_status}
     	 WHERE MEM_ID = #{mem_id}
     </update>
     
     <!-- 회원 삭제 - DELETE -->
     <delete id="deleteMember">
     	DELETE FROM MEMBER
     	 WHERE MEM_ID = #{mem_id}
     </delete>
     
     <!-- [ 신고 상품 관리 ] -->
     <!-- 신고된 상품 전체 컬럼 수 조회 - SELECT -->
     <select id="selectProductReportTotal" resultType="int">
     	SELECT COUNT(*)
		  FROM PRODUCT_REPORTS
     </select>
     
      <!-- 신고된 상품 필터링 후 컬럼 수 조회 - SELECT -->
     <select id="selectProductReportFiltered" resultType="int">
     	SELECT COUNT(*)
		  FROM PRODUCT_REPORTS R
		  JOIN PRODUCT P
		    ON R.PRODUCT_ID = P.PRODUCT_ID
		 WHERE 1 = 1
		<if test="status != null and status != ''">
		   AND STATUS = #{status}
		</if>
		<if test="searchValue != null and !searchValue.equals('')">
		   AND (R.REPORTER_ID LIKE CONCAT('%', #{searchValue}, '%')
			   OR R.REPORTER_ID LIKE CONCAT('%', #{searchValue}, '%')
	 	       OR R.PRODUCT_ID LIKE CONCAT('%', #{searchValue}, '%')
	 	       OR P.PRODUCT_TITLE LIKE CONCAT('%', #{searchValue}, '%') 
	 	       OR R.STATUS LIKE CONCAT('%', #{searchValue}, '%') 
	 	       OR R.REASON LIKE CONCAT('%', #{searchValue}, '%') 
	 	       OR R.ADMIN_ID LIKE CONCAT('%', #{searchValue}, '%'))
		</if>
		<if test="searchDate != null and !searchDate.equals('')">
		   AND DATE(R.REPORT_DATE) BETWEEN LEFT(#{searchDate}, 10) AND RIGHT(#{searchDate}, 10)
		</if>
     </select>
     
     <!-- 필터링 된 신고 상품 목록 조회 - SELECT -->
     <select id="selectProductReportList" resultType="map">
     	SELECT R.REPORT_ID
			   , R.REPORTER_ID
		       , R.PRODUCT_ID
		       , P.PRODUCT_TITLE
		       , DATE_FORMAT(R.REPORT_DATE, '%Y-%m-%d %H:%i:%s') AS REPORT_DATE
		       , R.REASON
		       , R.STATUS
		       , R.ACTION_REASON
		       , R.ADMIN_ID
		       , DATE_FORMAT(R.ACTION_DATE, '%Y-%m-%d %H:%i:%s') AS ACTION_DATE
		  FROM PRODUCT_REPORTS R
		  JOIN PRODUCT P
		    ON R.PRODUCT_ID = P.PRODUCT_ID
		 WHERE 1 = 1
		 <if test="status != null and status != ''">
		   AND STATUS = #{status}
		</if>
		<if test="searchValue != null and !searchValue.equals('')">
		   AND 
		   	  (
			   R.REPORTER_ID LIKE CONCAT('%', #{searchValue}, '%')
			   OR R.REPORTER_ID LIKE CONCAT('%', #{searchValue}, '%')
	 	       OR R.PRODUCT_ID LIKE CONCAT('%', #{searchValue}, '%')
	 	       OR P.PRODUCT_TITLE LIKE CONCAT('%', #{searchValue}, '%') 
	 	       OR R.STATUS LIKE CONCAT('%', #{searchValue}, '%') 
	 	       OR R.REASON LIKE CONCAT('%', #{searchValue}, '%') 
	 	       OR R.ADMIN_ID LIKE CONCAT('%', #{searchValue}, '%')
	 	      )
		</if>
		<if test="searchDate != null and !searchDate.equals('')">
		   AND DATE(R.REPORT_DATE) BETWEEN LEFT(#{searchDate}, 10) AND RIGHT(#{searchDate}, 10)
		</if>
		 ORDER BY 
			<choose>
				<when test='orderColumn.equals("REPORTER_ID")'>R.REPORTER_ID</when>
				<when test='orderColumn.equals("PRODUCT_ID")'>R.PRODUCT_ID</when>
				<when test='orderColumn.equals("PRODUCT_TITLE")'>P.PRODUCT_TITLE</when>
				<when test='orderColumn.equals("REPORT_DATE")'>R.REPORT_DATE</when>
				<when test='orderColumn.equals("REASON")'>R.REASON</when>
				<when test='orderColumn.equals("STATUS")'>R.STATUS</when>
				<when test='orderColumn.equals("ACTION_REASON")'>R.ACTION_REASON</when>
				<when test='orderColumn.equals("ADMIN_ID")'>R.ADMIN_ID</when>
				<when test='orderColumn.equals("ACTION_DATE")'>R.ACTION_DATE</when>
				<otherwise>R.REPORT_DATE</otherwise>
			</choose>
			<if test='orderDir.equals("asc")'>ASC</if>
			<if test='orderDir.equals("desc")'>DESC</if>
		  LIMIT
		 	   #{start}
		 	   , #{length}
     </select>
     
     <!-- 신고 상품 조치 및 수정 - UPDATE -->
     <!-- {PRODUCT_ID=5, REPORT_ID=9, ADMIN_ID=admin, STATUS=처리완료, ACTION_REASON=신고사유} -->
     <update id="updateProductReport">
     	UPDATE PRODUCT_REPORTS A LEFT JOIN PRODUCT B
     	    ON A.PRODUCT_ID = B.PRODUCT_ID
		<set>
			   A.STATUS = #{STATUS}
			   , A.ACTION_REASON = #{ACTION_REASON}
			   , A.ADMIN_ID = #{ADMIN_ID}
			<if test='STATUS != null or STATUS.equals("처리완료")'>
     	   	   , B.PRODUCT_STATUS = 4
			</if>
		</set>
     	 WHERE A.REPORT_ID = CAST(#{REPORT_ID} AS UNSIGNED)
		<if test='STATUS != null or STATUS.equals("처리완료")'>
     	   AND B.PRODUCT_ID = CAST(#{PRODUCT_ID} AS UNSIGNED)
		</if>
     </update>
     
     
     <!-- [ 공지사항 관리 ] -->
     <!-- 공지사항 목록 전체 컬럼 수 조회 - SELECT -->
     <select id="selectNoticeListTotal" resultType="int">
     	SELECT COUNT(*)
     	  FROM NOTICE
     </select>
     
     <!-- 공지사항 필터링 후 전체 컬럼 수 조회 - SELECT -->
     <select id="selectNoticeListFiltered" resultType="int">
     	SELECT COUNT(*)
     	  FROM NOTICE
     	 WHERE 1 = 1
     	 	<if test="searchValue != null and !searchValue.equals('')">
		 	   AND (
			 	   	NOTICE_SUBJECT LIKE CONCAT('%', #{searchValue}, '%')
		 	    	OR NOTICE_CONTENT LIKE CONCAT('%', #{searchValue}, '%')
		 	    	OR MEM_ID LIKE CONCAT('%', #{searchValue}, '%')
		 	   		)
		 	</if>
     </select>
     
     <!-- 공지사항 목록 필터링,검색 포함 조회 - SELECT -->
     <select id="selectNoticeList" resultType="notice">
     	SELECT *
		  FROM NOTICE
		 WHERE 1 = 1
		 	<if test="searchValue != null and !searchValue.equals('')">
		 	   AND (
		 	   		NOTICE_SUBJECT LIKE CONCAT('%', #{searchValue}, '%')
		 	    	OR NOTICE_CONTENT LIKE CONCAT('%', #{searchValue}, '%')
		 	    	OR MEM_ID LIKE CONCAT('%', #{searchValue}, '%')
		 	    	)
		 	</if>
		 ORDER BY 
			<choose>
				<when test='orderColumn.equals("mem_id")'>MEM_ID</when>
				<when test='orderColumn.equals("notice_subject")'>NOTICE_SUBJECT</when>
				<when test='orderColumn.equals("notice_content")'>NOTICE_CONTENT</when>
				<when test='orderColumn.equals("notice_date")'>NOTICE_DATE</when>
				<when test='orderColumn.equals("notice_read_count")'>NOTICE_READ_COUNT</when>
				<otherwise>NOTICE_DATE</otherwise>
			</choose>
			<if test='orderDir.equals("asc")'>ASC</if>
			<if test='orderDir.equals("desc")'>DESC</if>
		  LIMIT
		 	   #{start}
		 	   , #{length}
     </select>
     
     <!-- 공지사항 첨부파일 목록 가져오기 - SELECT -->
     <select id="selectNoticeBoardFileList" resultType="notice">
		SELECT NOTICE_ID
		       , NOTICE_FILE
		  FROM NOTICE
		 WHERE 1 = 1
	       AND NOTICE_ID IN 
		<foreach collection="deleteItems" item="notice_id" index="index" open="(" close=")" separator=",">
			   #{notice_id}
		</foreach>
     </select>
     
     <!-- 공지사항 삭제 - DELETE -->
     <delete id="deleteNotice">
     	DELETE
     	  FROM NOTICE
     	 WHERE 1 = 1
	       AND NOTICE_ID IN 
		<foreach collection="deleteItems" item="notice_id" index="index" open="(" close=")" separator=",">
			   #{notice_id}
		</foreach>
     </delete>
     
     
     
     
     <!-- ************************************************************* -->
     <!-- FAQ 목록 가져오기 -->
     <select id="selectFaqList">
		SELECT *
		  FROM FAQ
		 WHERE 1 = 1
		 	<if test="faqCate != null and faqCate != 0">
		 	   AND FAQ_CATE = #{faqCate}
		 	</if>
		 	<if test="listStatus != null and listStatus != 0">
		 	   AND LIST_STATUS = #{listStatus}
		 	</if>
		 	<if test="searchValue != null and searchValue != ''">
		 	   AND FAQ_SUBJECT LIKE CONCAT('%', #{searchValue}, '%')
		 		OR FAQ_CONTENT LIKE CONCAT('%', #{searchValue}, '%')
		 	</if>
		 ORDER BY 
			<choose>
				<when test="orderColumn == 'FAQ_ID'">FAQ_ID</when>
				<when test="orderColumn == 'FAQ_SUBJECT'">FAQ_SUBJECT</when>
				<when test="orderColumn == 'FAQ_CONTENT'">FAQ_CONTENT</when>
				<when test="orderColumn == 'FAQ_CATE'">FAQ_CATE</when>
				<otherwise>FAQ_CATE</otherwise>
			</choose>
			<if test="orderDir == 'asc'">ASC</if>
			<if test="orderDir == 'desc'">DESC</if>
		  LIMIT
		 	   #{start}
		 	   , #{length}
		 </select>
    	
     <!-- FAQ 컬럼 수 조회 - SELECT -->
     <select id="selectFaqTotal" resultType="int">
     	SELECT COUNT(*)
     	FROM FAQ
     </select>
     
     <!-- FAQ 검색 컬럼 수 조회 - SELECT -->
     <select id="selectFaqFiltered" resultType="int">
     	SELECT COUNT(*)
		  FROM FAQ
		 WHERE 1 = 1
		 <if test="searchValue != null">
		 	  AND FAQ_SUBJECT LIKE CONCAT('%', #{searchValue}, '%')
		 	   OR FAQ_CONTENT LIKE CONCAT('%', #{searchValue}, '%')
		 </if>
     </select>
     
     <!-- FAQ 수정 -->
     <update id="updateFaqInfo">
     	UPDATE FAQ
     	   SET FAQ_SUBJECT = #{faq_subject}
     	   	   , FAQ_CONTENT = #{faq_content}
     	   	   , FAQ_CATE = #{faq_cate}
     	   	   , LIST_STATUS = #{list_status}
     	 WHERE FAQ_ID = #{faq_id}
     </update>
     
     <!-- FAQ 삭제 -->
     <delete id="deleteFaq">
		DELETE FROM FAQ
		WHERE 1=1
		AND FAQ_ID IN
		<foreach collection="deleteItems" item="faq_id" index="index" open="(" close=")" separator=",">
			   #{faq_id}
		</foreach>
     </delete>
     
     
     
     <!-- ************************************************************* -->
     <!-- 1:1 문의 전체 컬럼 수 조회 - SELECT -->
     <select id="selectEnquireTotal" resultType="int">
     	SELECT COUNT(*)
     	FROM SUPPORT
     </select>
     
     
     <!-- 1:1 문의 필터링 후 컬럼 수 조회 - SELECT -->
     <select id="selectEnquireListFiltered" resultType="int">
     	SELECT COUNT(*)
		FROM SUPPORT
		WHERE 1 = 1
		<if test="status != null and status != ''">
		   AND STATUS = #{status}
		</if>
		<if test="searchValue != null and !searchValue.equals('')">
		   AND (MEM_ID LIKE CONCAT('%', #{searchValue}, '%')
			   OR SUPPORT_SUBJECT LIKE CONCAT('%', #{searchValue}, '%')
	 	       OR SUPPORT_CONTENT LIKE CONCAT('%', #{searchValue}, '%')
	 	       OR REPLY_CONTENT LIKE CONCAT('%', #{searchValue}, '%') 
	 	       OR STATUS LIKE CONCAT('%', #{searchValue}, '%'))
		</if>
		<if test="searchDate != null and !searchDate.equals('')">
		   AND (DATE(SUPPORT_DATE) BETWEEN LEFT(#{searchDate}, 10) AND RIGHT(#{searchDate}, 10)
		   	OR DATE(REPLY_DATE) BETWEEN LEFT(#{searchDate}, 10) AND RIGHT(#{searchDate}, 10))
		</if>
     </select>
     
     <!-- 필터링 된 1:1 문의 목록 조회 - SELECT -->
     <select id="selectEnquireList" resultType="map">
     	SELECT
     		SUPPORT_ID 
     		, SUPPORT_CATEGORY
		    , DATE_FORMAT(SUPPORT_DATE, '%Y-%m-%d %H:%i:%s') AS SUPPORT_DATE
     		, MEM_ID
		    , SUPPORT_SUBJECT
		    , SUPPORT_CONTENT
		    , SUPPORT_FILE
		    , DATE_FORMAT(REPLY_DATE, '%Y-%m-%d %H:%i:%s') AS REPLY_DATE
		    , REPLY_CONTENT
		    , STATUS
		FROM SUPPORT
		WHERE 1 = 1
			<if test="status != null and status != ''">
			   AND STATUS = #{status}
			</if>
			<if test="searchValue != null and !searchValue.equals('')">
			   AND (MEM_ID LIKE CONCAT('%', #{searchValue}, '%')
				   OR SUPPORT_SUBJECT LIKE CONCAT('%', #{searchValue}, '%')
		 	       OR SUPPORT_CONTENT LIKE CONCAT('%', #{searchValue}, '%')
		 	       OR REPLY_CONTENT LIKE CONCAT('%', #{searchValue}, '%') 
		 	       OR STATUS LIKE CONCAT('%', #{searchValue}, '%'))
			</if>
			<if test="searchDate != null and !searchDate.equals('')">
			   AND (DATE(SUPPORT_DATE) BETWEEN LEFT(#{searchDate}, 10) AND RIGHT(#{searchDate}, 10)
			   	OR DATE(REPLY_DATE) BETWEEN LEFT(#{searchDate}, 10) AND RIGHT(#{searchDate}, 10))
			</if>
		ORDER BY 
			<choose>
				<when test='orderColumn.equals("SUPPORT_CATEGORY")'>SUPPORT_CATEGORY</when>
				<when test='orderColumn.equals("SUPPORT_DATE")'>SUPPORT_DATE</when>
				<when test='orderColumn.equals("MEM_ID")'>MEM_ID</when>
				<when test='orderColumn.equals("REPLY_DATE")'>REPLY_DATE</when>
				<when test='orderColumn.equals("STATUS")'>STATUS</when>
				<otherwise>SUPPORT_DATE</otherwise>
			</choose>
			<if test='orderDir.equals("asc")'>ASC</if>
			<if test='orderDir.equals("desc")'>DESC</if>
		  LIMIT
		 	   #{start}
		 	   , #{length}
     </select>
     
     <!-- 1:1 문의 답글 등록(수정) - UPDATE -->
     <update id="updateReplyInfo">
     	UPDATE SUPPORT
		<set>
			   STATUS = #{STATUS}
			   , REPLY_CONTENT = #{REPLY_CONTENT}
			   , REPLY_DATE = CURRENT_TIMESTAMP
<!-- 			   , ADMIN_ID = #{ADMIN_ID} -->
		</set>
		WHERE SUPPORT_ID = #{SUPPORT_ID}
     </update>
     
     
</mapper>