<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.goodbuy.mapper.MypageMapper">

	<!-- 위시리스트 가져오기 -->
	<select id="selectWishlist" resultType="wish">
		SELECT *
		FROM WISHLIST
		WHERE MEM_ID = #{id}
	</select>
	
	<delete id="deleteWish" parameterType="int">
		DELETE FROM WISHLIST
		WHERE WISHLIST_ID= #{wishlist_id}
	</delete>
	<!-- 위시리스트 추가 -->
	<insert id="insertWishlist">
		INSERT INTO WISHLIST
		VALUES (
			#{wishlist_id} + 1
			,#{prosuct_title}
			,#{mem_id}
		)
	</insert>
	
	<!-- 위시리스트 갯수 세기 -->
	<select id="selectWishlistCount" resultType="int">
		SELECT COUNT(*)
		FROM WISHLIST
		WHERE MEM_ID=#{id}
	</select>
	
	
</mapper>	