<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.goodbuy.mapper.MainMapper">

	<!-- 위시리스트 가져오기 -->
	<select id="selectWishlist" resultType="wish">
		SELECT *
		FROM WISHLIST
		WHERE id = #{mem_id}
	</select>
</mapper>	