<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.goodbuy.mapper.MyReviewMapper">
	<!-- 	리뷰 리스트 조회 -->
	<select id="selectReview">
		SELECT R.* , P.PRODUCT_TITLE , B.MEM_NICK AS BUYERNICK, S.MEM_NICK AS SELLERNICK
		  FROM MYREVIEW R 
			JOIN PRODUCT P ON R.PRODUCT_ID = P.PRODUCT_ID
			JOIN MEMBER S ON S.MEM_ID = P.MEM_ID  -- 판매자 닉네임
			JOIN MEMBER B ON B.MEM_ID = R.MEM_ID  -- 구매자 닉네임
		 WHERE P.MEM_ID = #{mem_id}
		 ORDER BY R.REVIEW_DATE DESC
	</select>
	<!-- 	리뷰 갯수 -->
	<select id="selectReviewCount" resultType="int">
		SELECT COUNT(*)
		FROM PRODUCT P JOIN MYREVIEW R ON P.PRODUCT_ID = R.PRODUCT_ID
		WHERE P.MEM_ID = #{mem_id};
	</select>
	
<!-- 	리뷰작성 -->
	<insert id="insertReview" parameterType="map">
	<selectKey resultType="int" order="BEFORE" keyProperty="review_id">
<!-- 			SELECT MAX(REVIEW_ID) + 1 -->
			SELECT COALESCE(MAX(REVIEW_ID), 0) + 1
			FROM MYREVIEW;
		</selectKey>
	INSERT INTO MYREVIEW (
	    REVIEW_ID
	   , MEM_ID
	   , REVIEW_CONTENT
	   , REVIEW_DATE
	   , PRODUCT_TITLE
	   , REVIEW_SCORE
	   , PRODUCT_ID
	) VALUES (
	    #{review_id}             -- 리뷰 ID
	    , #{mem_id}             -- 회원 ID
	    , #{review_content}   -- 리뷰 내용
	    , now() -- 리뷰 날짜
	    , #{product_title}
	    , null
	    , #{product_id}            
	    
	);
	
	</insert>
</mapper>