<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.goodbuy.mapper.ProductMapper">
	
	<!--판매 상품 리스트 조회  -->
	<select id="selectProductList" resultType="product">
		SELECT 
			P.*,M.MEM_NICK
		  FROM 
		  	PRODUCT P JOIN MEMBER M ON P.MEM_ID = M.MEM_ID
		 WHERE 
		 	P.MEM_ID = #{mem_id};
	</select>
	
	<!--판매 상품 리스트 갯수 조회  -->
	<select id="salesListCount" resultType="int">
		SELECT COUNT(*)
		  FROM PRODUCT
		 WHERE MEM_ID = #{mem_id}
	</select>
	
	<!-- 상품 등록 -->
	<insert id="insertProduct" >
		<selectKey resultType="int" order="BEFORE" keyProperty="product_id">
			SELECT MAX(PRODUCT_ID) + 1
			FROM PRODUCT;
		</selectKey>
		INSERT
		INTO PRODUCT
		VALUES (
			#{product_id}
			, #{vo.product_title}
			, #{id}
			, #{vo.product_intro}
			, #{vo.product_shpping_fee}
			, #{vo.product_price}
			, #{vo.product_discount_status}
			, #{vo.product_category}
			, DATE_FORMAT(now(), '%y-%m-%d')
			, #{vo.product_pic1}
			, #{vo.product_pic2}
			, #{vo.product_pic3}
			, #{vo.product_trade_adr1}
			, #{vo.advertisement_status}
			, 1
		)
	</insert>
	<!-- 상품목록 카테고리별 조회 -->
	<select id="searchProductList" resultType="map">
		SELECT 
			pro.PRODUCT_PIC1, pro.PRODUCT_CATEGORY, pro.PRODUCT_TRADE_ADR1, 
			pro.PRODUCT_TITLE, pro.PRODUCT_PRICE, pro.MEM_ID, mem.MEM_NICK, pro.PRODUCT_REG_DATE
		FROM PRODUCT pro join MEMBER mem
		ON pro.MEM_ID = mem.MEM_ID
		WHERE PRODUCT_CATEGORY = #{pRODUCT_CATEGORY}
	</select>
	
	<!-- 구매상품 리스트 조회 -->
	<select id="selectOrderList" resultType="order">
		SELECT 
		  O.ORDER_ID
		, P.PRODUCT_ID
		, P.PRODUCT_TITLE 
		, P.PRODUCT_PRICE
		, P.PRODUCT_CATEGORY
		, P.PRODUCT_STATUS
		, M.MEM_NICK
		  FROM PRODUCT P JOIN PRODUCT_ORDER O ON P.PRODUCT_ID = O.PRODUCT_ID
		  				JOIN MEMBER M ON P.MEM_ID = M.MEM_ID
	 	 WHERE O.BUYER_ID = #{mem_id};
	</select>
	
</mapper>