<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.goodbuy.mapper.SupportMapper">
	<!-- 문의 리스트 조회 -->
	<select id="selectSupportList" resultType="support">
		-- 1:1문의 전체 목록
		SELECT 
		    S.SUPPORT_ID, 
		    S.SUPPORT_DATE, 
		    S.SUPPORT_CATEGORY, 
		    S.MEM_ID,  -- SUPPORT 테이블의 MEM_ID만 사용
		    S.SUPPORT_SUBJECT, 
		    S.SUPPORT_CONTENT, 
		    S.SUPPORT_FILE AS SUPPORT_FILE1, 
		    S.REPLY_DATE, 
		    <!-- S.SUPPORT_SUBJECT,  -->
		    S.REPLY_CONTENT 
		FROM SUPPORT S 
		JOIN MEMBER M 
		    ON M.MEM_ID = S.MEM_ID 
		WHERE S.MEM_ID = #{MEM_ID}
		ORDER BY S.SUPPORT_ID DESC;
	</select> 
	
	<select id="selectSupportListCount" resultType="int">
		-- 1:1문의 전체 게시글수
		SELECT COUNT(*)
		  FROM SUPPORT
		 WHERE MEM_ID = #{MEM_ID}
	</select>
	
	<select id="selectSupportDetail" resultType="support">
		SELECT *
		FROM SUPPORT
		WHERE SUPPORT_ID = #{SUPPORT_ID}
	</select>


</mapper>