<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.itwillbs.goodbuy.vo.NoticeVO" alias="notice"/>
		<typeAlias type="com.itwillbs.goodbuy.vo.MemberVO" alias="member" />
		<typeAlias type="com.itwillbs.goodbuy.vo.MailAuthInfo" alias="mailAuthInfo" />
		<typeAlias type="com.itwillbs.goodbuy.vo.WishlistVO" alias="wish" />
		<typeAlias type="com.itwillbs.goodbuy.vo.MyReviewVO" alias="review" />
		<typeAlias type="com.itwillbs.goodbuy.vo.ProductVO" alias="product" />
		<typeAlias type="com.itwillbs.goodbuy.vo.ProductOrderVO" alias="order" />
		<typeAlias type="com.itwillbs.goodbuy.vo.PayToken" alias="payToken"/>
		<typeAlias type="com.itwillbs.goodbuy.vo.SmsAuthInfoVO" alias="smsAuthInfoVO"/>
		<typeAlias type="com.itwillbs.goodbuy.vo.FaqVO" alias="faq"/>
	</typeAliases>
</configuration>